:root {
  --light-grey: #d8d9db;
  --button-on-hover: #ebebeb;
  --button-active-state: #bbbcbe;
  --function-buttons: #df974c;
  --function-buttons-on-hover: #dfb07e;
  --function-button-active-state: #dd8d37;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body,
.wrapper,
table,
tr,
td,
button {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: darkslategrey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  width: 400px;
}
.screen {
  width: 100%;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.6rem;
  background-color: black;
  color: white;
  text-align: right;
}
.screen tr td {
  padding: 1.2rem 1rem 1.2rem 0;
  border: 1px solid black;
}
tr,
td {
  border: 1px solid grey;
}
table {
  width: 100%;
  border-spacing: 0;
  border: 1px solid black;
}
button {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.6rem;
  width: 100%;
  padding: 2rem 1.2rem;
  border: 0;
}
button.calc-button {
  background-color: var(--light-grey);
}
button:hover.calc-button {
  background-color: var(--button-on-hover);
}
button.operator-button {
  background-color: var(--function-buttons);
  color: white;
}
button:hover.operator-button {
  background-color: var(--function-buttons-on-hover);
}
